﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@section MainContent{
<div id="help" class="rounded10">

<h2>Help Page</h2>



</div>


}