﻿<div class="divImageMenu" >
<span class="moveLeft"><i class="step fi-arrow-left size-20"></i></span>
<span class="removeImage"><i class="step fi-trash size-20"></i></span>
<span class="moveRight"><i class="step fi-arrow-right size-20"></i></span>
</div>


