﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model IEnumerable<ProfileForDisplay>

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}



@section MainContent{
  
 <div  id="divDetailsInfo" class="rounded10">           
        <ul class="items-list">
           @if (Model != null)
           {
               foreach (ProfileForDisplay p in Model)
               {
                   if (p != null)
                   {
                   <li class="item-detail">
                    <a class="item-productimage-link" 
                             href="@Url.Action("Details", "Profile",
                        new { idForDisplay = p.Profile.Id, idForMenu = 2 }, null) ">
                                         @if (p.Profile.ImageData == null)
                                         {                    
                                                <img   src="../../Content/Images/no-image.jpg" class="item-productimage" alt="no-image" />                   
                                         }
                                         else
                                         {   
                                                 <img   class="item-productimage" alt= "image" src="@Url.Action("GetImage", "Profile",
                                                 new { id = p.Profile.Id})" />                                                          
                                         }                     
                    </a>
                    
                    <div class="item-price">
                          <a class="item-productimage-link" 
                             href="@Url.Action("Details", "Profile",
                               new { idForDisplay = p.Profile.Id, idForMenu = 2 }, null) ">@p.Profile.FirstName  @p.Profile.LastName</a>

                                         @
                               <br />
                    </div>
               </li>}
          }}
 </ul>
</div>
 }
