﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel




@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("http://malsup.github.io/min/jquery.cycle.all.min.js")
@Scripts.Render("`/Scripts/jquery.easing.1.3.js")
@Scripts.Render("http://code.jquery.com/ui/1.10.2/jquery-ui.js")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")






   
<div class="divMatch" >  

<div id="divProfile" >


@using (Html.BeginForm("Search", "Profile"))
{
<div id="divPersonalInfo" >

    
@Html.Button("X", new { name = "Submit", value = "3" })
@Html.Hidden("Profile.Id", new { Model.Profile.Id })
@Html.Hidden("id", new { Id = Model.Profile.Id })

<table  class= "tableData">
<tr><th colspan ="2">My personal Info</th></tr>
<tr><td>
    @Html.LabelFor(p => Model.Profile.LastName)
</td><td>
    @Html.TextBoxFor(p => Model.Profile.LastName)
</td></tr><tr><td>


<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.FirstName)
</td><td>
@Html.TextBoxFor(p => Model.Profile.FirstName)
</td></tr><tr><td>

<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.DateBirth)
</td><td>
   @Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("MMMM dd, yyyy") }) 
</td></tr><tr><td>


 <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.StatusId)
</td><td>
    @Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select Status")
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.GenderId)
</td><td>
    @Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select Gender")
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.LookingForId)
</td><td>
    @Html.MatchEnumDropDownListFor(p => Model.Profile.LookingForValue, "Select Gender")
</td></tr><tr><td>


    @Html.LabelFor(p => Model.Profile.ImageData)
</td><td>
    @Html.TextBox("Img")
</td></tr><tr><td>
    

  <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.EMail)
</td><td>
    @Html.TextBoxFor(p => Model.Profile.EMail)
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.Phone)
</td><td>
    @Html.TextBoxFor(p => Model.Profile.Phone)
</td></tr>
<tr><td class="tdWithoutTop">&nbsp;</td><td class="tdWithoutTopBottom"></td><td class="tdWithoutTop" ></td></tr>

</table>









               <div id="divUploadImage"> Upload new image:
                        <input   id="btnUploadImage" type="file"  name="image" />
                </div>      
        

<div > 
   
        <div class="profileImageGallery" >
           <table class="tblProfileImageGallery"><tr>               
             @foreach (ProfileImage pp in Model.Profile.ProfileImages)
             {
                
                                    <td>
                                    <a href="@Url.Action("GetProfileImage",
                                             "Profile", new { imageId = pp.Id })" class="previewImage">
                                    <img class="imageGalleryItem" src="@Url.Action("GetProfileImage",
                                             "Profile", new { imageId = pp.Id })" alt = "image" /> </a>
                                                 
                                               @Html.Partial("ImageMenu")
                                     </td>                               
                
             }
          </tr></table>
         
          </div> 
            
             

<div id="aboutMyself">

<br />@Html.LabelFor(p => Model.Profile.AboutMyself)<br /><br />

@Html.TextAreaFor(p => Model.Profile.AboutMyself)		   
</div>






</div>

</div>

<p style = "clear:both;"></p>


    
<div id="divSearchInfo">
<table id="tblSearchInfo">
<tr><td class="tdWithoutLeftRight"><br />I Am</td><td class="tdWithoutLeftRight" >Applications</td><td class="tdWithoutLeftRight"><br />Looking For</td></tr>
<tr><td class="tdWithBottom">  &nbsp;  </td><td class="tdWithoutBottom">     </td><td class="tdWithBottom">      </td></tr>
    <tr><td>
        @Html.DropDownListForIAttributeSource("Profile.ReligionId", Model.Profile.ReligionId, Model.Religions, "Select Religion")
    </td><td>
        @Html.LabelFor(p => Model.Profile.ReligionId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchReligionId", Model.Profile.SearchReligionId, Model.Religions, "N/A")
    </td></tr><tr><td>


       
        @Html.DropDownListForIAttributeSource("Profile.SpecifyId", Model.Profile.SpecifyId, Model.Specifies, "Select Specify")
    </td><td>
     @Html.LabelFor(p => Model.Profile.SpecifyId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.SearchSpecifyId", Model.Profile.SpecifyId, Model.Specifies, "N/A")
    </td></tr><tr><td>


        
         @Html.DropDownListForIAttributeSource("Profile.DenominationId", Model.Profile.DenominationId, Model.Denominations, "Select Denomination")
    </td><td>
         @Html.LabelFor(p => Model.Profile.DenominationId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchDenominationId", Model.Profile.SearchDenominationId, Model.Denominations, "N/A")
    </td></tr><tr><td>


        
        @Html.DropDownListForIAttributeSource("Profile.CountryId", Model.Profile.CountryId, Model.Countries, "Select Country")
    </td><td>
        @Html.LabelFor(p => Model.Profile.CountryId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.SearchCountryId", Model.Profile.SearchCountryId, Model.Countries, "N/A")
    </td></tr><tr><td>



       
        @Html.DropDownListForIAttributeSource("Profile.StateId", Model.Profile.StateId, Model.States, "Select State")
    </td><td>
         @Html.LabelFor(p => Model.Profile.StateId)
    </td><td>
         @Html.DropDownListForIAttributeSource("ProfileStateId", Model.Profile.SearchStateId, Model.States, "N/A")
    </td></tr><tr><td>


        
        @Html.TextBoxFor(p => Model.Profile.SearchCity)
    </td><td>
         @Html.LabelFor(p => Model.Profile.City)
    </td><td>
        @Html.TextBox("empty")
    </td></tr><tr><td>


        @Html.TextBoxFor(p => Model.Profile.ZipCode)
    </td><td>   
        @Html.LabelFor(p => Model.Profile.ZipCode)
    </td><td>
         @Html.TextBox("empty")
    </td></tr><tr><td>

        
       
            @Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select Height")
    </td><td>
        @Html.LabelFor(p => Model.Profile.HeightId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchHeightId", Model.Profile.SearchHeightId, Model.SearchHeights, "N/A")
    </td></tr><tr><td>


        
        @Html.DropDownListForIAttributeSource("Profile.WeightId", Model.Profile.WeightId, Model.Weights, "Select Weight")
    </td><td>
    @Html.LabelFor(p => Model.Profile.WeightId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchWeightId", Model.Profile.SearchWeightId, Model.SearchWeights, "N/A")
    </td></tr><tr><td>


      
         @Html.DropDownListForIAttributeSource("Profile.AgeId", Model.Profile.AgeId, Model.Ages, "Select Age")
    </td><td>
      @Html.LabelFor(p => Model.Profile.AgeId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchAgeId", Model.Profile.SearchAgeId, Model.SearchAges, "N/A")
    </td></tr><tr><td>

    
    
       
          @Html.MatchEnumDropDownListFor(p => Model.Profile.SmokeValue, "Select Smoke Type")
    </td><td>
     @Html.LabelFor(p => Model.Profile.SmokeId)
    </td><td>
           @Html.MatchEnumDropDownListFor(p => Model.Profile.SearchSmokeValue, "N/A")
    </td></tr><tr><td>

   
        @Html.DropDownListForIAttributeSource("Profile.ChildrenId", Model.Profile.ChildrenId, Model.HasChildren, "Select Children")
    </td><td>
     @Html.LabelFor(p => Model.Profile.ChildrenId)
    </td><td>
          @Html.DropDownListForIAttributeSource("Profile.SearchChildrenId", Model.Profile.SearchChildrenId, Model.HasChildren, "N/A")
    </td></tr><tr><td>

    
         @Html.MatchEnumDropDownListFor(p => Model.Profile.DisabilityValue, "Select Disability")
    </td><td>
    @Html.LabelFor(p => Model.Profile.DisabilityId)
    </td><td>
         @Html.MatchEnumDropDownListFor(p => Model.Profile.SearchDisabilityValue, "N/A")
    </td></tr><tr><td>


       
        @Html.DropDownListForIAttributeSource("Profile.EducationGradeId", Model.Profile.EducationGradeId, Model.EducationGrades, "Select Education")
    </td><td>
     @Html.LabelFor(p => Model.Profile.EducationGradeId)
    </td><td>
          @Html.DropDownListForIAttributeSource("Profile.SearchEducationGradeId", Model.Profile.SearchEducationGradeId, Model.EducationGrades, "N/A")
    </td></tr>


<tr><td class="tdWithTop">  &nbsp;  </td><td class="tdWithoutTop">     </td><td class="tdWithTop">      </td></tr>
</table>




@Html.Button("Submit", new { name = "Submit", value = "2", id= "btnSearch" }) <br /><br /><br /><br />
</div>


<div id="divSearch" class= "@String.Concat("searchGender-", Model.Profile.GenderId)">

Which Compatibility Method Do You Prefer<br />

<table class= "tableData">
<tr><th>Compatibility</th><th>Choice</th><th align="center">Price</th><th align="center">Found</th></tr>
<tr><td>Zodiacal    </td><td>@Html.CheckBox("Check1")</td><td  align="center">10$  </td><td align="center"> <span id="total1">0</span></td></tr>
<tr><td>Numerological</td><td>@Html.CheckBox("useNumerology")</td><td  align="center">10$  </td><td align="center"><span id="total2">@Model.AllProfilesByNumerology</span></td></tr>
<tr><td>Sexual       </td><td>@Html.CheckBox("Check3")</td><td  align="center">10$  </td><td align="center"><span id="total3">0</span></td></tr>
<tr><td colspan ="2"><br /><br />Total match found      </td><td  align="center"></td><td align="center"><br /><br /><span id="totals">@Model.AllProfiles</span></td><td>
</td></tr>
</table>



@Html.Button("View", new { name = "Submit", value = "1" })
@Html.Button("View Ajax", new { id="btnSearchResultView",  name = "btnSearchResultView", value = "1" })

<br/>
</div>

}

<div id='divDropArea' ></div>
</div>
    

<div id="divSearchResult" >


</div>






</div>
   
     
     

 
@{ string endYearforCalendar = String.Concat("1900:", (DateTime.Now.Year - 16).ToString());}

<script type="text/javascript">
    $(document).ready(function () {


        $('#divProfile').droppable({

            drop: function (event, ui) {
                ui.draggable.detach().appendTo($('#divDropArea'));
            }
        });



        $("#Profile_DateBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM dd, yy',
            gotoCurrent: true
        });


        $("#Profile_DateBirth").datepicker("option", "yearRange", "@endYearforCalendar");



      



        $('#btnUploadImage').change(function (event) {

            var tmppath = URL.createObjectURL(event.target.files[0]);
            var img = $("<img/>").attr('class', 'imageGalleryItem')
                                 .attr('src', URL.createObjectURL(event.target.files[0]));

            var menuMoveLeft = "<img alt='Move left' title='Move left' class= 'moveLeft' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif'>";
            var menuMoveRight = "<img alt='Move right' title='Move right' class= 'moveRight' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif'/>";
            var menuRemove = "<img alt='Remove' title='Remove' class= 'removeImage' src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'/>";

            var divImageMenu = $("<div class='divImageMenu'>" + menuMoveLeft + menuRemove + menuMoveRight + "</div> ");


            var td = $('<td/>').html(img).append(divImageMenu);
            $('.tblProfileImageGallery tr').append(td);

        });

        $('.removeImage').live({
            click: function (event) {
                event.preventDefault();
                var r = confirm("Do yoy want to delete the picture?");
                if (r) $(this).parent().parent().remove();
                return false;
            }

        });

        $('.moveRight').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentRightSibling = parent.next();
                parent.insertAfter(parentRightSibling);
                return false;
            }
        });


        $('.moveLeft').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentLeftSibling = parent.prev();
                parent.insertBefore(parentLeftSibling);
                return false;
            }

        });




        $('#btnSearch').click(function (e) {
            e.preventDefault();

            var formData = $('form').serialize();

            $.ajax({
                url: '@Url.Action("AjaxSearch")',
                type: 'POST',
                dataType: 'json',

                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                data: formData,
                success: OnSuccess
            });

            return false;
        });




        $('#btnSearchResultView').click(function (e) {
            e.preventDefault();

            var formData = $('form').serialize();

            $.ajax({
                url: '@Url.Action("AjaxSearchResultView")',
                type: 'POST',
                dataType: 'json',

                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                data: formData,
                success: OnSuccessSearchResultView
            });

            return false;
        });






    });


    function OnSuccess(data) {
        $('#total1').empty().append(data.total1);
        $('#total2').empty().append(data.total2);
        $('#total3').empty().append(data.total3);       
        $('#totals').empty().append(data.totals);
    };

    function OnSuccessSearchResultView(data) {

        $('#ListTmpl').tmpl(data).appendTo(($('#divSearchResult').empty()));

        $('.profilePictures :first-child').addClass("first");
        $('.profilePictures').cycle({ delay: -100 });

        $('.divListItem').draggable({
            containment: "document",
            helper: "clone",
            start: function(e) { $('element').css('z-index', -1)},
            stop:  function(e) { $('element').css('z-index', 0)}
        });

        
    };
   


   
</script> 

<script id = "ListTmpl" type="text/x-jquery-tmpl">

<div class="divListItem" >  
  {{tmpl($data) "#ProfileImagesTmpl"}}

   <div class= "item-info-${GenderId}">
       <a class="item-productimage-link" 
           href="/Profile/Details?idForDisplay=${Id}&amp;idForMenu=${Id}"> ${Zodiac}</a>
                              
                            <div class ="item-info-List">${FirstName} <br />${DateBirth }</div>                                   
                                  
                                 
                                                 
     </div>




</div>

</script>





<script id = "ProfileImagesTmpl" type="text/html">
<div class="profilePictures">{{each ImageId}}
<img src="/Profile/GetProfileImage?imageId=${ $value }"  height="150" width="150"
                                             alt = "image"/>
{{/each}}</div>

</script>
       
      