﻿/********************Profile, Index **********************/
#divProfile {float:left; 
             margin-top: 25px;  margin-right:5px; margin-bottom:25px; margin-left:25px;
           height:536px; overflow:auto;
          padding-left:25px; padding-right:25px; padding-top:15px;  padding-bottom:15px;}


 textarea { width:90%; padding:6px; height: 120px; }

 


#divSearch { border:1px solid  orange;  margin: 25px;
            
           text-align:left;
           
           padding :25px; }  
           
.0-GenderId {background-color: Gray;}
.1-GenderId {background-color: Red;}
.2-GenderId {background-color: Green;}


table { border:0px;}
th { text-align:center;    padding-bottom:15px; 
     padding-top: 15px; margin:10px; font-weight:bold; font-size:larger;}
     

   
   
 th  { border-bottom:1px solid orange; }
 td  { border-left:1px solid orange; border-right:1px solid orange;}

  
     
/*#tblPersonalInfo tr td:first-child { text-align:right;  }*/
#divPersonalInfo {border:1px solid  orange; padding:10px;}

#tblPersonalInfo  tr td { border-width: 0;}
#tblPersonalInfo  tr  { border-width: 0;}
#tblPersonalInfo  tr td:first-child { text-align:right;}


#tblSearchInfo tr td:nth-child(2) { text-align:center; width:130px;}

button {  float:right;  margin:15px; background-color:Orange; 
          border-width: 0px;}


/***********************Table top  personal Info *************************************/        
  .tdWithBottom
 
  {
       border-bottom :1px solid orange;
       border-left:0px solid orange;  border-right:0px solid orange;  border-top: 0px solid orange;
       
  }
  
 .tdWithoutAll
   {
       border:0px solid orange; text-align:center; font-size:larger; font-weight:bold;
       
  }
  
  
  .tdWithoutLeftRight
   {
       border-left:0px solid orange; border-right:0px solid orange;
       text-align:center;    padding-bottom:15px; 
       padding-top: 15px; margin:20px; font-weight:bold; font-size:larger;
       
  }

 .tdWithTop
   {
      border-top :1px solid orange;
       border-left:0px solid orange;  border-right:0px solid orange;   border-bottom: 0px solid orange;
   } 
   
   
   .tdWithoutTop
    {
      border-top :0px solid orange;
      border-left:1px solid orange;  border-right:1px solid orange;   border-bottom: 1px solid orange;
   }
      
   .tdWithoutBottom
    {
      border-top :1px solid orange;
      border-left:1px solid orange;  border-right:1px solid orange;   border-bottom: 0px solid orange;
   }
   
     .tdWithoutTopBottom
    {
      border-top :0px solid orange;
      border-left:1px solid orange;  border-right:1px solid orange;   border-bottom: 0px solid orange;
   }
   
