﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #Match;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


    /*
      .MatchDiv {background-image: url("file:///C:/Documents and Settings/IRINA/My Documents/Visual Studio 2010/Projects/Match/Match.WebUI/Content/Images/Dating1.jpg")
     color: #e1e1e1; }
     
     .MatchDiv {background-image: url("file:///C:\Documents and Settings\IRINA\My Documents\Visual Studio 2010\Projects\Match\Match.WebUI\Content\Images\Dating1.jpg")
     color: #e1e1e1; }
    
     .MatchDiv {background-image: url("Dating2.jpg"; padding: 30px;)
     color: #e1e1e1; }

 .MatchDiv {background-image: url("file:///C:\Documents and Settings\IRINA\My Documents\Visual Studio 2010\Projects\Match\Match.WebUI\Content\Images\Dating1.jpg")
     color: #e1e1e1; }*/
     
     .MatchDiv {background-image: url("Images/dating1.jpg");
     color: #e1e1e1; }
     
     
     /*---------------------------------------------------------*/
     /*--------------------------------------------------/
/* tables */

#MatchMenu{float:left; padding-bottom:25px;}

input , select, textarea       
{
            width: 150px;
			border: 1px solid gray;
			 padding: 0px; 
			 margin:0px;
		     background-color:transparent;
		     color: #e1e1e1;
		      outline: none;
		}

 textarea  { width:100%; padding:2px; margin-bottom:15px; height: 120px;}
 label { padding-right:2px;}

			 		
 input{ width: 146px;  }

 
 #divDetailsInfo {float:left; background-color: #000075; margin: 20px; text-align:left;
          padding-left:25px; padding-right:25px; padding-top:15px;  padding-bottom:15px;}

#tableDetailsInfo  tr td { text-align:left;}



#aboutmyself label {text-align:left; padding-left: 0;   padding-bottom: 15px; 
     padding-top: 75px; margin-top:20px; font-weight:bold; font-size:larger;}


th { text-align:center;    padding-bottom: 25px;  border: color
     padding-top: 15px; margin:10px; font-weight:bold; font-size:larger;}
     

     
 tr td:first-child { text-align:right;  }
 tr td:nth-child(2) { text-align:center; width:130px; }

#search { float:right; background-color: #000075; margin: 20px; text-align:left;
          padding-left:25px; padding-right:25px; padding-top:15px;  padding-bottom:15px;  }  
  

#profile {float:left; background-color: #000075; margin: 20px; height:536px; overflow:auto;
          padding-left:25px; padding-right:25px; padding-top:15px;  padding-bottom:15px;}

#proile1 { clear:both;   border: 2px solid  #9d009d;   }

 

button {  float:right;  margin-bottom:5px; margin-top:5px;}

#help  {float:right; background-color: #d8d8ff;
         margin: 20px; color: #000014;
         width:250px; height:400px;
         padding-left:25px; padding-right:25px; 
         padding-top:15px;  padding-bottom:15px;}
         
         
         
         
         
         
   /*      
         <div id="personalInfo">    
<div id="labelForPersonalInfo">    
     
                              @Html.LabelFor(p => Model.Profile.LastName)
<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.FirstName)
<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.DateBirth)
<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.StatusId)
<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.GenderId)
<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.LookingForId)
                              @Html.LabelFor(p => Model.Profile.ImageData)
<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.EMail)
</div> 
    
     
 
<div id="inputForPersonalInfo">    
@Html.TextBoxFor(p => Model.Profile.LastName)
@Html.TextBoxFor(p => Model.Profile.FirstName)
@Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("d") })    
@Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select Status")@Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select Gender")
@Html.MatchEnumDropDownListFor(p => Model.Profile.LookingForValue, "Select Gender")
@Html.TextBox("Img")
@Html.TextBoxFor(p => Model.Profile.EMail)
@Html.TextBoxFor(p => Model.Profile.Phone)
</div></div>*/