﻿body
{    
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica;   /*  */
    margin: 0px;        
    padding: 0px;
    color:  White;        /*#e1e1e1;*/
    background-color:#333;          /* 555 333   #7e0089*/ 
    position: relative;        
    border-style: none;
    background-image: url("~/Content/Image/homeMatch.png");

    /* scrollbars*/    
    scrollbar-face-color:#bbb;
    scrollbar-track-color:#888;
}
.body-0 {background-color:#fff;}
.body-grey {background-color:#333;}

h1
{
    font-size: 1.2em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: normal;
}
h2
{
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 4px;
    text-transform: none;
    font-weight: normal;
    color: #fbc7d2;
     text-shadow: 1px 1px 3px #222222;   
     filter:progid:DXImageTransform.Microsoft.Shadow(strength=1,direction=120,color=#222222);
}
h3
{
    font-size: 1.2em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: bold;
    color: #ccc;    
}
h4
{
    font-size: 1.1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: bold;
    color: #eee;    
}
h5
{
    font-size: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: normal;
    color: #eee;        
}
h6
{
    font-size: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: normal;
    color: #ccc;    
}

.popUpWin-body {font-family:Verdana; font-size:12px; background-color:#292929; color:#b2b2b2;
                border:0px solid #406080;
                }

select {cursor:default}
button, input[type="button"], input[type="submit"]  {cursor:pointer;}


p { padding-bottom: 0px; cursor: default}
a, .link { color: #99ddff; text-decoration: underline; border-style:none; cursor:pointer; }
a, a:hover, a:visited, a:active { outline:none; }

.aSelector {padding-left:4px; padding-right:8px}
.aSelector:hover {background-color:#222; cursor:pointer}

.smallCap {font-size:11px; color:#ccc;}
.smallHead {font-size:12px; font-weight:normal; color:#eed;}

span {cursor: default}

.link {color: #80d3ff; text-decoration: underline; background-color:Transparent; cursor:pointer}
.linkVisited {color: #c0a0e8; text-decoration: underline; background-color:Transparent; cursor:pointer}


.dnone {display:none;}


/* Panels */

.pagePanel
{    
    background-color:#666; width:900px; height:400px; margin-left:auto; margin-right:auto;
    padding:1em;
    border:1px solid #ccc;
}

.workPanel
{
    background-color:#444; width:90%; margin-left:auto; margin-right:auto;          /* #333 */
    padding:1em;
    border:1px solid #ccc;
}

.controlPanel
{    
    padding:2px;
    border:0px solid #abc;
}

.popupControlsPanel
{
    padding:2px;
    border:0px solid #abc;
    color:#222;
    background-color:#ddd;     
}

.rounded {-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
          -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.5),inset 1px 1px 1px rgba(255,255,255,0.1);
            -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.5),inset 1px 1px 1px rgba(255,255,255,0.1);
              box-shadow:1px 1px 3px rgba(0,0,0,0.5),inset 1px 1px 1px rgba(255,255,255,0.1)}
              
.rounded10 {-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
          -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.5),inset 1px 1px 1px rgba(255,255,255,0.1);
            -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.5),inset 1px 1px 1px rgba(255,255,255,0.1);
              box-shadow:1px 1px 3px rgba(0,0,0,0.5),inset 1px 1px 1px rgba(255,255,255,0.1)}
              
.PanelH3image {height:32px; vertical-align:top}
        



/* Inputs */

input {background:#4d4d4d;  border-width:1px; color:#e8e8e8;
       font-family: inherit; font-size: inherit;
       }

.btnBorderLess { border-style:none; background-color:transparent; 
                              text-decoration:underline; 
                              cursor:pointer; color:#80d3ff; margin-right:1em}
input[type="submit"]:enabled { color:#eee; }
input[type="submit"]:disabled { color:#777; }


.chk * {border:0px; background-color:Transparent; border-color:Transparent; }
.rdo * {border:0px; background-color:inherit}
.rdo [disabled=disabled]+label {color:#888}


select {background:#4d4d4d;  border-width:1px; color: #eee;
        font-family: inherit; font-size: inherit;
        }
.ddl {height:16px; border:0}

textarea {background:#4d4d4d; border-width:1px; color: #e8e8e8;
           font-family:inherit; font-size: inherit;
           resize: none;  
          }

input[type="image"] {background-color:Transparent; border:none; cursor:pointer}

input[type='text']:disabled, textarea:disabled {color:#aaa} 

.PagerBtn {border:0px solid red; text-align:center}

.tbDate {width:100px;}


/* tables */

table { border-collapse:collapse; }
thead {font-weight:bold; color:#ddd}
.tableData tr td:first-child { text-align:right; font-weight:bold  }
.tableData {border:0px solid red}
.tableData tr td {border: 0px solid blue}
.tableData tr th {border: 0px solid blue}

.bdr {border:1px solid #567}
th {border:0px solid #567; text-align:right; font-weight:normal}
th, td {padding-left:3px; padding-right:3px; cursor:default}
td {vertical-align:top}

.hoverRow {background-color:#222}
.selectedRow {background-color:#000}   


/* Images and Messages */

.LogoSmall {position:absolute; height:50px; top:0px; left:0px; margin:10px}

.errMsg {color:#e17c80; font-weight:bold; margin-right:1em}
.warningMsg {color:#e0e080; font-weight:bold; margin-right:1em}
.infoMsg {color:#61c3ff; font-weight:bold; margin-right:1em}

.att {color:#ffcc33; cursor:default}
.red {color:#ff7788; cursor:default}

.techInfo {cursor:default; font-family:Verdana; background-color:Transparent;
           color:#ddbbcc ! important; border-color:#888 ! important;                        /* color:#778899 */
           margin-right:1ex }           

.popupInfo {border:1px solid yellow; color:#ffcc33; background-color:#663300; padding:0.3em; display:table-cell;  width:7em}            
.popupMsg  {border:1px solid yellow; color:#ffcc33; background-color:#663300; padding:0.3em; z-index:99999;
            -webkit-box-shadow:0 5px 12px rgba(0,0,0,0.9); -moz-box-shadow:0 5px 12px rgba(0,0,0,0.9); box-shadow:0 5px 12px rgba(0,0,0,0.9) }          
            
            
/* Alert box.    <div class=divAlert> <div> <div> Content </div> </div> </div>    - popup in center of .divAlert */ 
.divAlert
{ position:absolute; top:0px; left:0px; overflow:hidden;
      padding:0px; margin:auto auto auto auto; width:100%; height:100%;
      background-color:rgba(0,0,0,0.5);  
      display:none   /* dynamically change to display:table to show message: $("#<%=AlertMsg.ClientID %>").css('display','table'); */
}
.divAlert>div {vertical-align:middle; text-align:center; display:table-cell}
.divAlert>div>div {position:relative; display:inline-block; text-align:left; padding:12px;
          border:1px solid #ee0033;                                                      
          background-color:#333333;                                                      
          color:#ffffdd; 
          font-family:verdana,menu; font-size:14px;
    -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;    
    -webkit-box-shadow:0 5px 12px rgba(0,0,0,0.9);  -webkit-box-shadow: inset 0 0 20px #ff8888; 
    -moz-box-shadow:0 5px 12px rgba(0,0,0,0.9); --moz-box-shadow: inset 0 0 20px #ff8888; 
    box-shadow:0 5px 12px rgba(0,0,0,0.9); box-shadow: inset 0 0 20px #ff8888;    
}
.X-Close { text-decoration:none; font-size:16px; font-family:Verdana; position:absolute; top:0px; right:4px }
/* /Alert box */

.shadow {-webkit-box-shadow:0 5px 12px rgba(0,0,0,0.9); -moz-box-shadow:0 5px 12px rgba(0,0,0,0.9); box-shadow:0 5px 12px rgba(0,0,0,0.9) }





/* particular styles */	

#MainHead {background-color:#333;}

#tblDateValues tr {text-align:center; background-color:Transparent}
#tblDateValues td {padding:0px 8px 0px 8px}

#tdTime {color:#ffffff}
#tdDate {color:#ffff00}
#tdDayOfWeek {color:#ffff00}
#tdReligiousDate {color:#00ff00}

.tblLogin {position:absolute; top:0px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; table-layout:fixed; border-collapse:collapse}
.tblLogin tr:first-child {background-color:Transparent}
.tblLogin td {overflow:hidden; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; white-space:nowrap}

.popUpWithCursor {position:absolute; top:300px; left:10px; height:400px; width:800px;                  
                  background-color:#456; border:1px solid #789;
                  display:none; z-index:999;
                 }
                 

/* SITE MENU   ----------------------------------------------------------*/
ul#SiteMenu { margin:0;list-style:none;padding:0;border-width:0px;border-style:solid;border-color:#3366ee; }  
ul#SiteMenu {display:block;position:absolute;font-size:0;z-index:1000; }
ul#SiteMenu li{display:block;white-space:nowrap;float:left;font-size:0; border-left:1px solid #333333}
ul#SiteMenu a{display:block;
		vertical-align:middle;text-align:left;text-decoration:none;
		font:16px Comic Sans MS,Verdana,serif;color:#ccc;    /* font-weight:bold; */	 
		cursor:pointer; padding: 2px 18px 3px 18px;		
		background-color:#222;    
		background-image:url("../res/mainMenubk.ico");				
		background-size:100% 100%; 
				
		border-width:1px;border-style:solid;border-color:#00ccff;
		}		

/* #SiteMenu a img {height:30px; margin:1px; border:0px} */
ul#SiteMenu li:hover>a:not([disabled]) {
        font:16px Comic Sans MS,Verdana,serif;             /* font-weight:bold;	*/ 
        text-decoration:none;
        background-image:url("mainbk-2.ico");background-color:#333; 
        background-size:100% 100%;        
        border-width:1px 1px 1px 1px;border-color:#00ccff;border-style:solid;
        }
        
ul#SiteMenu li .sel { background-color:#3266ca; border-color:#00ccff; color:#ff818d }        /*326698   #390105;    #ff818d*/
/*
      ul#SiteMenu li .sel:hover { background-color:#390105; border-color:#00ccff; color:#ff818d }        
*/
ul#SiteMenu li a[disabled=disabled] {color:#777; cursor:default;} 
/* END SITE MENU   ------------------------------------------------------*/





/* MAIN MENU   ----------------------------------------------------------*/

ul#MainMenu,ul#MainMenu ul{ margin:0;list-style:none;padding:0;border-width:0px;border-style:solid;border-color:#79b7e7; }  

ul#MainMenu ul{ display:none;position:absolute;left:-1px;top:98%;padding: 0px 0px 1px 0px;   
                border-color:#aaa;background-color:#aaa;                                                 /* submenu box =*/
          -webkit-box-shadow:5px 5px 8px rgba(0,0,0,0.9);
            -moz-box-shadow:5px 5px 8px rgba(0,0,0,0.9);
              box-shadow:5px 5px 8px rgba(0,0,0,0.9) 
              }
                             
  /* ul#MainMenu li:hover>*{display:block;} */
ul#MainMenu li:hover>.ul_Ok{display:block;} 
ul#MainMenu li:hover>.ul_Ok li:hover>*{display:block;} 

ul#MainMenu li:hover{position:relative;}
ul#MainMenu ul ul{position:absolute;left:100%;top:-2px;}
ul#MainMenu{display:block;position:absolute;font-size:0;z-index:1000;}
ul#MainMenu li{display:block;white-space:nowrap;float:left;font-size:0}

ul#MainMenu>li,ul#MainMenu li{margin:0px;}
ul#MainMenu a:active, ul#MainMenu a:focus{outline-style:none;}
ul#MainMenu a{display:block;                                                                       
		vertical-align:middle;text-align:left;text-decoration:none;font:14px Verdana,serif;               /*  font-weight:bold; */ 
		color:#ccc;		 
		cursor:pointer;padding:0px 6px 2px 6px;background-image:url("../res/mainMenubk.ico");background-color:#222;    /*    #d0e5f5; */				
		background-position:0 100%;border-width:1px 1px 1px 1px;border-style:solid;border-color:#990033; margin: 0px 1px 0px 1px;}		
		
ul#MainMenu ul li{float:none;margin:1px 0px 0px 0px;}
ul#MainMenu ul a{text-align:left; 
		padding:2px 8px 2px 4px;background-image:none;border-width:0;background-color:#666;                /*   #fbec88;  submenu background =*/
		font:14px Verdana,serif;color:#ddd;text-decoration:none;}		

ul#MainMenu li:hover>a{border-color:#990033;border-style:solid;background-color:#222; 
        font:14px Verdana,serif;color:#fff;text-decoration:none;                                         /* font-weight:bold; */
        background-image:url("mainbk-2.ico");background-position:0 100%; }
        
ul#MainMenu img{border:none;vertical-align:middle;margin-right:20px;width:16px;height:16px;}
ul#MainMenu ul img{width:16px;height:16px;}
ul#MainMenu img.over{display:none;}
ul#MainMenu li:hover > a img.def{display:none;}
ul#MainMenu li:hover > a img.over{display:inline;}
ul#MainMenu span{display:block;overflow:visible;
		background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#MainMenu ul li:hover>a{background-image:none;font:14px Verdana,serif;color:#fff;text-decoration:none;background-color:#222;}   /* #fcfdaa; = */
ul#MainMenu li.topfirst>a{}
ul#MainMenu li.toplast>a{}

/*
ul#MainMenu li.selected {border:1px solid green;}
ul#MainMenu a:selected {background:#F9ff11;} 	
ul#MainMenu a:active {background:red;} 	
*/
/* End MAIN MENU --------------------------------------------------------*/



/*******************Irina ***********************/
/*  List  View*/

/
/*--------------------------------------------------/
/* tables */

body{  background-image: url("~/Content/Image/homeMatch.png");}

#MatchMenu{float:left; padding-bottom:25px;}

input , select, textarea       
{
             width: 150px;
			 border: 1px solid gray;
			 padding: 0px; 
			 margin-left:8px; margin-right:8px;
		     background-color:transparent;
		     color: White;        /*#e1e1e1;*/
		     outline: none;		      
		}
textarea {  border: 1px solid gray; }

 /*label { padding-right:2px;  margin-left:3px; margin-right:3px;}*/
			 		
 input{ width: 147px;  }

#help  { float:right; background-color: #d8d8ff;
         margin: 20px; color: #000014;
         width:250px; height:400px;
         padding-left:25px; padding-right:25px; 
         padding-top:15px;  padding-bottom:15px;}
         
         
 
 




/********************Profile, Index **********************/
#aboutMyself {margin:20px;  }
   .redStar {color:orange;  margin-right:2px;} 
   
#divProfile, #divSearchResult {float:left; 
             margin-top: 25px;  margin-right:5px; margin-bottom:25px; margin-left:25px;
           height:536px; overflow:auto; 
          padding-left:25px; padding-right:25px; padding-top:15px;  padding-bottom:15px;}
          
.fewWordsForGender { background-color: blue; border:1px solid  orange;}


 textarea { width:90%; padding:6px;  height: 120px; }

 


#divSearch { border:1px solid  orange;  margin: 25px;
            
           text-align:left; 
           
           padding :25px; }  
           
.0-GenderId {background-color: Gray;}
.1-GenderId {background-color: Red;}
.2-GenderId {background-color: Green;}


table { border:0px;}
th { text-align:center;    padding-bottom:15px; 
     padding-top: 15px; margin:10px; font-weight:bold; font-size:larger;}
     

   
   
 th  { border-bottom:1px solid orange; }
 td  { border-left:1px solid orange; border-right:1px solid orange;}

  
     
/*#tblPersonalInfo tr td:first-child { text-align:right;  }*/
#divPersonalInfo {border:1px solid  orange; padding:10px;}

#tblPersonalInfo  tr td { border-width: 0;}
#tblPersonalInfo  tr  { border-width: 0;}
#tblPersonalInfo  tr td:first-child { text-align:right;}


#tblSearchInfo tr td:nth-child(2) { text-align:center; width:130px;}

button {  float:right;  margin:15px; background-color:Orange; 
          border-width: 0px;}


/***********************  Table top  personal Info *************************************/        
  .tdWithBottom
 
  {
       border-bottom :1px solid orange;
       border-left:0px solid orange;  border-right:0px solid orange;  border-top: 0px solid orange;
       
  }
  
 .tdWithoutAll
   {
       border:0px solid orange; text-align:center; font-size:larger; font-weight:bold;
       
  }
  
  
  .tdWithoutLeftRight
   {
       border-left:0px solid orange; border-right:0px solid orange;
       text-align:center;    padding-bottom:15px; 
       padding-top: 15px; margin:20px; font-weight:bold; font-size:larger;
       
  }

 .tdWithTop
   {
      border-top :1px solid orange;
       border-left:0px solid orange;  border-right:0px solid orange;   border-bottom: 0px solid orange;
   } 
   
   
   .tdWithoutTop
    {
      border-top :0px solid orange;
      border-left:1px solid orange;  border-right:1px solid orange;   border-bottom: 1px solid orange;
   }
      
   .tdWithoutBottom
    {
      border-top :1px solid orange;
      border-left:1px solid orange;  border-right:1px solid orange;   border-bottom: 0px solid orange;
   }
   
     .tdWithoutTopBottom
    {
      border-top :0px solid orange;
      border-left:1px solid orange;  border-right:1px solid orange;   border-bottom: 0px solid orange;
   }
   

  
/******************* List View ********************************************************/   
   
   /*   slide  */
#profileImages img { display: none;  }
#profileImages img.first { display: block;}

#divList 
 {             
                 width: 100%; 
                 margin-top: 50px;
                  margin-left:20px;
 }
 
ul.items-list 
{                width: 100%;
                 list-style-type: none; padding:0px; margin:0px; 
}

ul li.item-detail { float: left; width: 200px;
                      border:1px solid orange;
                    padding: 0px; text-align:center;
                    margin-right : 20px; margin-bottom : 20px;}
                    
       
                    
                    
  .item-productname, .item-details 
{
    width:200px; text-align:center;
}


.label {display: inline-block; width: 85px; text-align: right;margin-right: 15px;  }


  /*********************** Details View********************************************/
   
  
    
.labelForDetails1, #lblAboutMyselfDetails  
{
    display: inline-block; width: 150px; text-align: right;  margin-right: 10px; 
    vertical-align: top; padding-top:1px; padding-bottom:1px;
}

#divDetails0 {width: 500px;  height:500px; overflow:auto;
                      border:0px solid orange;
                      padding : 10px;
                      margin: 40px;  float:left}

    
#divDetails1 
    
{  width: 350px;  /* #divDetails3.width  + #divDetails3.padding*2  */         
                      border:1px solid orange;                      
                      margin-bottom : 30px;
                       margin-left: 50px;
}
             
                       
                       
/* margin-left For (#divDetails1 & #divDetails3) = (#divDetails2.width - #divDetails1.widht)/2  */
                       
#divDetails2 { text-align:left;  height :90px; width: 450px; border:1px solid orange;
                margin-bottom : 30px; padding:7px;}
 #lblAboutMyselfDetails { width:410px; text-align:center; padding-bottom:10px;}                        
                       
#divDetails3 { width: 330px;  border:1px solid orange;  margin-left: 50px;
  padding: 10px;}             


/* .item-info-0 1,2.padding-left = #divDetails3.padding-left */


.item-info-1, .item-info-2,
 .item-info-0  { border-top :1px solid orange;
                background-color:#800040;  /* #9d0000 */
                 padding-top: 10px; 
                 padding-bottom: 10px;
                text-align:center}  
 .item-info-2, .searchGender-2 {background-color:#000075; } 
 .item-info-0, .searchGender-0 {background-color:#333; }
 .searchGender-1 {                background-color:#800040;}
 
 /* .info.padding-left = #divDetails3.padding */
 .item-productimage-link {  padding-left: 10px; }
 .item-info { padding-left: 10px; padding-top:15px;  text-align: left;}
 .item-info-List { text-align: center; padding-top:10px;} 
 
 

 .ui-datepicker-current-day  { background-color:orange;}
 

.profileImageGallery { overflow:auto; width: 90%; height:142px; width:405px; margin-top:25px; margin-bottom:0px;}
  .imageGalleryItem { height:100px; width:100px; vertical-align:top;  }
  .tblProfileImageGallery{ }
  .divImageMenu  {text-align: center; background-color: transparent; 
                   padding-top:2px; padding-left:2px; border-top :1px solid gray;}
  .tblProfileImageGallery tr { padding:0px; margin:0px;}
  .tblProfileImageGallery tr td {border-top :1px solid orange; border-bottom :1px solid gray;padding:0px; margin:0px;}
  .moveRight {float:right; margin-right:7px;}
  .moveLeft {float:left; margin-left:7px;}   
  
  .previewImage  {  width:600px;  }         
#divUploadImage {margin-top:55px; margin-bottom:20px;}


#divSearchResult {float:right; width:400px;
             margin-top: 25px;  margin-right:0px; margin-bottom:25px; margin-left:0px;
           
          padding:0px; }
.divListItem { width:150px; border :1px solid orange; margin-bottom:40px; margin-bottom:40px; margin-right:35px;
               float: left; vertical-align :top;} 
               
 #divDropArea {vertical-align :bottom;  width:330; margin-left:50px;
                padding-top:40px; padding-left:0;  padding-right:0;} 
 div.productColor{background-color: red;  height:2px; width:4px;}