﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Foundation/foundation-icons/foundation-icons.css")
    @Styles.Render("~/Content/Foundation/css/foundation.css")
    @Styles.Render("~/Content/Foundation/customcss/maincss.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Custom/custom1.js")

    @RenderSection("Scripts", required: false)
</head>
<body>  
    @RenderSection("MenuContent", required: false)
    @RenderSection("MainContent", required: false)
    @RenderSection("AdContent", required: false)
    
    @RenderBody()
    @RenderSection("FooterContent", required: false)
</body>
</html>


