﻿<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<link href="~/Content/Foundation/foundation.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.7.1.js" type="text/js"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css"/>
 
   

<title></title>
</head>

<body>
<div id="header">  
    @RenderSection("TitleContent", required: false)
</div>
@RenderSection("MenuContent", required: false)
@RenderSection("MainContent", required: false)
@RenderBody()
  
</body>
</html>