﻿@{
    ViewBag.Title = "Help";
}

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
@Styles.Render("~/Content/Foundation/customcss/mycustom.css")
}

@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<div class="row">
<div class="column">&nbsp;</div> 
 <div class="columns text-center alert-box info-info round">
    <h4 style="color:white;"><b>Enter web site</b></h4>
</div>
</div>

<div class="column">&nbsp;</div> 

<fieldset  class="searchinfoPink">
<div class="row">
    <div class="columns    medium-6 small- 5  small-text-left medium-text-right info-info">username</div>
    <div class="columns   medium-6 small- 7  text-left info-info">password</div> 
 </div>


 <div class="row">
    <div class="columns medium-6 small- 5 small-text-left medium-text-right ">anna</div>
    <div class="columns  medium-6 text-left ">password1</div> 
 </div>
 <div class="row">
    <div class="columns medium-6 small- 5 small-text-left medium-text-right fieldsetwhite">borgia</div>
    <div class="columns   medium-6 small- 7  text-left  fieldsetwhite">password2</div> 
 </div>
 <div class="row">
    <div class="columns medium-6 small- 5 small-text-left medium-text-right">user3</div>
    <div class="columns  medium-6 small- 7  text-left ">password3</div> 
 </div>
 <div class="row">
    <div class="columns medium-6 small- 5 small-text-left medium-text-right fieldsetwhite">lucr4</div>
    <div class="columns   medium-6 small- 7  text-left  fieldsetwhite">password4</div> 
 </div>
 <div class="row">
    <div class="columns medium-6 small- 5 small-text-left medium-text-right">richard3</div>
    <div class="columns   medium-6 small- 7 text-left ">password5</div> 
 </div>
 <div class="row">
    <div class="columns medium-6 small- 5  small-text-left medium-text-right  fieldsetwhite">henry8</div>
    <div class="columns  medium-6 small- 7  text-left fieldsetwhite">password6</div> 
 </div>
  </fieldset>     
</div>
</div>


<script  type="text/javascript">
    $(document).ready(function () {


        $(".ad_container:gt(3)").hide();


    });
</script>
}