﻿#topnav {
   
    padding-top: 1.5rem;
     padding-right: 3px;
    padding-bottom: 1rem;
    color:Silver;
   
}
 
#topnav a {
    padding-right: 1rem;
    color: #FFFFFF;
}

#topnav span.right a {
    padding-right: 0;
    padding-left: 1rem;
}


#header {
    background-color: #222222;
    padding: 1rem 0;
}

section {
  margin: 1rem;
}

 
#header h1, #header h2, #header h3 {
    text-align: center;
    color: #FFFFFF;
}

#footer {
    background-color: #000000;
    padding: 2rem 0;
    color: #FFFFFF;
}
 
#footer h4  {
    color: #FFFFFF;
}
 
#footer input {
    margin-top: 8px;
}
 
#footer a.button {
    margin-top: 8px;
    text-decoration: none;
}
 
#footer a {
    color: #FFFFFF;
    text-decoration: underline;
}
 
#footer li {
    list-style-position: inside;
    color: #FFFFFF;
}

option.selectlabel {
    font-style: italic;
    color: #6D6D6D;
}
 
p#contact_intro {
    padding-top: 2rem;
}
.hbd {
    display: none;
}

/*------validation error------  */
.field-validation-error, .validation-summary-errors
{
  color: white;
  font-weight:bold;
  font-size:12px;
  background-color:#f04124 
  
}
.field-validation-error
{
  padding-top:3px;
  padding-bottom:3px; 
}
.input-validation-error
{
  border: 1px solid #f04124 !important;
  

}


/*------account menu------  */
#btn-menu
{
    margin:0px;
    font-size: 14px;
}


#btn-menu .ui-button {
  font-size: 12px;
   background-color: #f04124 ;
}


div#menu_container {
  display: inline-block;
  float: right;
  text-align:left;

}
ul#menu {
  display: none;
  position: absolute;
  font-size: 0.85rem;
  z-index: 50; 
}
#menu a
{  
    color: #333;
}

#PP::before 
   {
    content: "\f1fe ";  
    font-family: "foundation-icons";   
   
    color: green;
    padding-right:0;
    
   } 
   /*   LOGO   */
  
   .logo 
   {  background-size:125px !important;
       background:  #000000 url(/../../Content/Images/logo.png)  no-repeat;}
   
   /*   securty (prevent from program generated click)  click - label for*/
   .btn-to-hide 
   {
       position: absolute ; left: -9999em ;
   }
   
   .img-home-page
  {
      margin-top:10px;
      margin-bottom :10px;
     
  }
  .user-torso
  {   
      font-size:18px !important; 
      padding-left:6px; 
      padding-right:6px;
       padding-bottom:2px;
      background-color:Silver;
       color:black;
       border-radius: 9px;
  }
  
  .info-info
  {background-color: silver; border-color:silver}
  