﻿@{
    ViewBag.Title = "Login Failure";
}

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
@Styles.Render("~/Content/Foundation/customcss/mycustom.css")
}

@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<div class="row">
<div class="column">&nbsp;</div> 
 <div class="columns text-center alert-box alert round">
    <h4 style="color:white;">@ViewBag.Title</h4>
    Unsuccessful login with service.
</div></div>
</div></div>
}