﻿@model  Match.Domain.Entities.LoginModel



@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
     


@section MainContent{

<div class="medium-6 small-centered  large-uncentered columns">


<div class="row">
<div class="small-12 small-centered columns text-center">
       
       @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</div>
</div>



  
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

<fieldset>
<legend>Local account</legend>
  
    <div class="row"> 
      <div class="columns medium-text-left">@Html.LabelFor(m => m.UserName)</div>
      <div class="columns medium-text-left">@Html.TextBoxFor(m => m.UserName)</div>
      
    </div> 
   
  
  <div class="row">  
     <div class="columns medium-text-left"> @Html.LabelFor(m => m.Password)</div>
     <div class="columns medium-text-left">@Html.PasswordFor(m => m.Password)</div>
   </div>
 
 <div class="row">
      <div class="medium-text-left columns"> @Html.CheckBoxFor(m => m.RememberMe) @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</div>
 </div>

 <div class="row" style="margin-bottom:15px;">
   
     <div class="columns text-left">  @Html.ActionLink("Register", "Register") if you don't have an account </div>
    </div>

     
 <div class="row">
     <div class="small-12 small-centered columns text-center"><button type="submit" class="small   radius"  >Login</button>
     <a href="@ViewBag.ReturnUrl" class="small  secondary radius button">Return</a>
 </div>
 </div>
 </fieldset>     
}



</div>


<script  type="text/javascript">
    $(document).ready(function () {


        $(".ad_container:gt(3)").hide();


    });
</script>

}





