﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Foundation/foundation-icons/foundation-icons.css")
    @Styles.Render("~/Content/Foundation/css/foundation.css")
    @Styles.Render("~/Content/Foundation/customcss/maincss.css")
    @Styles.Render("~/Content/Foundation/customcss/mycustom.css")

    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Custom/custom1.js")
    @Styles.Render("~/Content/Foundation/css/toggle-switch.css")

   
     
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
   
    
    
    

    @RenderSection("Scripts", required: false)
</head>
<body>  
    @RenderSection("MenuContent", required: false)
    @RenderSection("MainContent", required: false)
    @RenderSection("AdContent", required: false)
    
    @RenderBody()
    @RenderSection("FooterContent", required: false)
    @RenderSection("JQueryContent", required: false)
</body>
</html>


