﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (IsSectionDefined("Scripts"))
{
        @RenderSection("Scripts", required: false)
}


@section MenuContent
{

<div id="topnav" class="logo">
<div class="row" >
    
    <div class="columns">

         <div class="row">
                  <div class="small-8 small-right columns small-text-right small-offset-4 ">
                         @if (Request.IsAuthenticated)
                         {
                             @Html.ActionLink(@User.Identity.Name.ToLower(), "Manage", "Account", null, new { @class = "menu-user-torso" })}
                         else
                         { @Html.Raw("&nbsp;") }
                  </div>
                  <div class="show-for-small columns"  style="padding-top:10px;">&nbsp;</div>
                   <div class="  medium-7 columns text-left medium-offset-2"  style="padding-top:10px;">
                                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "menu-home" })
                                    @Html.ActionLink("Match", "Match", "Home", null, new { @class = "menu-match" })
                                    @Html.ActionLink("About", "About", "Home", null, new { @class = "menu-about" })
                                    @Html.ActionLink("Help", "Help", "Home", null, new { @class = "menu-help" })
                  </div>

                  <div class="text-right medium-3 columns" style="padding-top:10px;">
                      @if (Request.IsAuthenticated)
                      {       
                          @Html.Partial("_MenuContainerAccount")
                      }
                      else
                      {

                          @Html.Partial("_MenuContainerLogin")
        
                      }
                 </div>
        </div>







         </div>
    </div>
</div>


    
 }

<div class="row">  
@if (IsSectionDefined("MainContent"))
{
        @RenderSection("MainContent", required: false)
    
}

@section AdContent{

<div class="large-3 columns right columns hide-for-medium hide-for-small" id="ad_sidebar">
   <div class="ad_container">
        
        
    </div>
    <div class="ad_container">
         <h5> Angela Jerich's painting</h5>
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/30130.jpg"  style="width:220px;"/></a>
        <p>Harmony</p>
    </div>

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/30136.jpg"  style="width:220px;"/></a>
        <p>Meeting </p>
    </div>

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/posvyashchenie_djerih_anjela_1430638678.jpg"  style="width:220px;"/></a>
        <p>Dedication</p>
    </div>

     <div class="ad_container">
    <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/f_klin-klinom_djerih_anjela_1363943681.jpg"  style="width:220px;"/></a>
        <p>Fight fire</p>
    </div>

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/60404.jpg"  style="width:220px;"/></a>
        <p>Romantic dinner</p>
    </div>


    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/dlya-tebya_djerih_anjela_1413996472.jpg"  style="width:220px;"/></a>
        <p>For you!</p>
    </div>


    

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/djekpot_djerih_anjela_1348559663.jpg"  style="width:220px;"/></a>
        <p>Jackpot</p>
    </div>
 </div>
}
</div>


@RenderBody()

@section FooterContent{
<div id="footer">
    <div class="row">
        <div class="large-2 medium-3 column">
            <h4>Related links</h4>
        </div>
        <div class="large-3  medium-6 columns">
            <input type="search"/>
	</div>
	<div class="large-7 medium-3 columns">
	    <a href="#" class="button small radius">Search</a>
	</div>
    </div>
    <div class="row">
	<div class="large-3  medium-6 columns">
	    <ul>
        <li><a href="http://www.mysinglefriend.com">My Single Friend</a></li>
  	    <li><a href="http://www.eharmony.co.uk">eHarmony</a></li>
        <li><a href="http://www.friendfinder.com">Friend Finder</a></li>
  		<li><a href="http://www.match.com">Match</a></li>
  		<li><a href="http://www.perfectmatch.com">PerfectMatch</a></li>
  		
  		
  		
            </ul>
        </div>
	<div class="large-3  medium-6 columns">
	    <ul>
        <li><a href="http://www.jdate.com">JDate</a></li>
        <li><a href="http://www.christianconnection.com ">Christian Connection</a></li>
        <li><a href="http://www.muddymatches.co.uk">Muddy Matches</a></li>
  		<li><a href="http://www.zoosk.com">Zoosk</a></li>
  		<li><a href="http://www.telegraph.co.uk/dating">Telegraph Dating</a></li>
  		
  		
  	    </ul>
	</div>
	
	<div class="large-3 medium-6 columns">
	    <ul>
  		<li><a href="http://www.lovestruck.com">Lovestruck</a></li>
  		<li><a href="http://www.parship.co.uk">Parship </a></li>
  		<li><a href="http://www.shaadi.com ">Shaadi</a></li>
  		<li><a href="http://www.sagaconnections.co.uk">Saga Connections</a></li>
  		<li><a href="http://www.datingvegetarian.co.uk">Dating Vegetarian</a></li>
  		
  	    </ul>
	</div>

    <div class="large-3  medium-6 columns">
	    <ul>
        <li><a href="http://www.datingdirect.com">Dating Direct</a></li>
        <li><a href="http://www.flirtbox.co.uk">Flirtbox</a></li>
  		<li><a href="http://www.lovearts.com">Love Arts</a></li>
  		<li><a href="http://www.datingforparents.com">Dating For Parents</a></li>
  		<li><a href="http://www.greensingles.com ">Green Singles</a></li>
        <li><a href="http://www.ourtime.com">OurTime</a></li>
  		
  	    </ul>
	</div>
    </div>
    <div class="row">
        <hr/>
	<div class="large-3  medium-6 columns">
	    <span>&copy; 2015 | <a href="#">Contact</a></span>
	</div>
	<div class="large-3 columns large-offset-6">
	    <span class="right">
  		<img src="http://placehold.it/30x30&text=twitter">
  		<img src="http://placehold.it/30x30&text=facebook">
  		<img src="http://placehold.it/30x30&text=rss">
  	    </span>
	</div>
    </div>
</div>

}

 @{ string str = Request.IsAuthenticated ? "My Account" : "Enter web-site"; }

@section JQueryContent
{
 <script  type="text/javascript">
     $(document).ready(function () {



         $('#btn-menu').button({ label: "@str" });

         $('#menu').menu();


         $('#btn-menu').click(function () {
             $('#menu').toggle();
             $('#menu').position({
                 my: "right top",
                 at: "right bottom",
                 of: "header button"
             });
         });

        

         $('li>a').click(function (event) {
             // event.preventDefault();
             $('#menu').hide();
         });


         $('html').click(function () {
             $('#menu:visible').hide();
         });


         $('div#menu_container').click(function (event) {
             event.stopPropagation();
         });

     });
</script>

      
    
}

@RenderSection("JQueryContentExtra", required: false) 