﻿<div id="menu_container">
      <button id="btn-menu" class="ui--error"></button>
      <ul id="menu">
        <li><a href="@Url.Action("Login", "Account")"><span class="ui-icon ui-icon-key"></span>Login</a></li>
        <li><a href="@Url.Action("Register", "Account")"><span class="ui-icon ui-icon-document"></span>Register</a></li>
      </ul>
    </div>  
    