﻿@{
    ViewBag.Title = "Details";
@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ProfileForDisplay

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
@Styles.Render("~/Content/Foundation/customcss/mycustom.css")

@Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
@Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")


}

@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<fieldset class="searchinfoGray ">
<legend>@Model.Profile.FirstName, @Model.Profile.AgeFromDateBirth</legend>
<div class="row">
 <div  class="small-12 columns">

 <div class="row">
  <div  class="medium-4 columns">
 
   <div class="row">
    <div  class="columns">
    

      @if (Model.Profile.ProfileImages == null)
      {   
         <div class="resize-image" style="background: url('../../Content/Images/no-image.jpg')"></div> 
      }
      else
      {

        <div class="resize-image" style="background: url('@Url.Action("GetProfileImage", "Profile", new { imageId = Model.Profile.Id })')"></div>
      }                     
                   
  </div> 
  </div>


  

  
   </div>
   <div  class="medium-8 columns">               
          




<div id="settings_accordion" >

  <h3><a href="#">Personal information</a></h3>
  <div class="wrapper">



<div class="row">
       <div class=" medium-4 columns medium-text-right  small-text-left ">Age</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.AgeFromDateBirth</div>
  </div> 


  
  <div class="row">
     <div class=" medium-4 columns medium-text-right  small-text-left ">Gender</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.GenderValue</div>
  </div> 
  
   

  <div class="row"> 
     <div class=" medium-4 columns medium-text-right  small-text-left ">Marital status</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Status.Name</div>
  
  </div>  



  <div class="row"> 

  <div class=" medium-4 columns medium-text-right  small-text-left ">Children</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Children.Name</div>
  </div>  


  <div class="row">
       <div class=" medium-4 columns medium-text-right  small-text-left ">Country</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.City</div>
  </div> 


  <div class="row"> 
    <div class="s medium-4 columns medium-text-right  small-text-left ">Weight</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Weight.Name</div>
  </div> 

 <div class="row"> 
      
     <div class="medium-4 columns medium-text-right  small-text-left ">Height</div>
  
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Height.Name</div>

  </div> 


  <div class="row"> 
     <div class=" medium-4 columns medium-text-right  small-text-left ">Race</div>
     <div class="medium-6 small-12 columns small-text-left end " >@Model.Profile.Race.Name</div>
  </div> 


  <div class="row"> 
     <div class=" medium-4 columns medium-text-right  small-text-left ">Smoke</div> 
     <div class="medium-6 small-12 columns small-text-left end " >@Model.Profile.Smoke.Name</div>
  </div> 


  <div class="row"> 
     <div class=" medium-4 columns medium-text-right  small-text-left ">Disability</div>
     <div class="medium-6 small-12 columns small-text-left end " >@Model.Profile.Disability.Name</div>
  </div> 


  <div class="row"> 
     <div class=" medium-4 columns medium-text-right  small-text-left ">Education</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.EducationGrade.Name</div>
  </div> 
  

  <div class="row"> 
     <div class=" medium-4 columns medium-text-right  small-text-left ">Occupation</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Occupation.Name</div>
  </div> 


  <div class="row"> 
     <div class=" medium-4 columns medium-text-right  small-text-left ">Income</div> 
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Income.Name</div>
  </div> 



   <div class="row">
     <div class=" medium-4 columns medium-text-right  small-text-left ">Religion</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Religion.Name</div>
  </div>
  </div>
  
  
  
  <h3>Numerology</h3>
  <div class="wrapper">
<div class="row">
       <div class=" small-12 columns   small-text-left ">Life Path Number @Model.Profile.LifePathNumber</div>
        <div class="small-12 columns   small-text-left ">Long text</div>
       <div class="small-12 columns   small-text-left ">********* *** **** ******* ******** ****** ****** ****** ******</div>
  </div >

  </div>
  

<h3>Zodiac</h3>
  <div class="wrapper">
<div class="row">
       <div class=" small-12 columns   small-text-left ">Zodiac Sign @Model.Profile.Zodiac</div>
        <div class="small-12 columns   small-text-left ">Long text</div>
       <div class="small-12 columns   small-text-left ">****** ****** ****** ****** ********* ****** ****** ******* ****** ******* ***</div>
  </div>

 </div>
  




  

  <h3>Contact</h3>
  <div class="wrapper">



<div class="row">
       <div class=" medium-4 columns medium-text-right  small-text-left ">E-mail</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.EMail</div>
  </div> 
<div class="row">
       <div class=" medium-4 columns medium-text-right  small-text-left ">Phone</div>
     <div class="medium-6 small-12 columns small-text-left end ">@Model.Profile.Phone</div>
  </div>
  
  </div>
  
   
  </div> 



   </div>                                           
                   
 </div>            
               


 </div>
 </div>
            
  </fieldset>  

</div>

</div>

  
<script  type="text/javascript">
    $(document).ready(function () {
        /* Converts the h3s and divs into an accordion.
        active: false collapses all the panels initially.
        collapsible: true is necessary for active: false to work.
        heightStyle: "content" makes each panel as tall as its contents.
        */
        $('#settings_accordion').accordion(
    {
        collapsible: true,
        active: false,
        heightStyle: "content"
    }

  );


        //$(".ad_container:gt(3)").hide();



        /* Attaches a handler function to the notifications checkbox that toggles the visibility of the notification sub-options. */
        $('input#cb_enable_notify').change(function () {
            $('div.sub_options').toggle();
        });

    });
</script>
  }

 
