﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


@section Scripts{
@Styles.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css")
@Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
@Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")


<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
  article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }
</style>

<style>
body, .ui-accordion {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.9rem;
}

div#settings_accordion {
  max-width: 700px;
}

div.sub_options {
  padding-left: 2.5rem;
  display: none;
}
</style>

}

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}



@section MainContent{

@using (Html.BeginForm("Edit", "Profile"))
{
<div class="row" id="divMainContent">
<div class="large-8 small-centered  large-uncentered columns">

  <h2>Search Criteria</h2>
  <div id="settings_accordion">

  <h3>Age</h3>
    <div class="row">  
     <div class="small-2 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-3 columns">@Html.DropDownListForIAttributeSource("Model.Profile.SearchAgeIdFrom", Model.Profile.SearchAgeIdFrom, Model.Ages, "Select...")</div>
 
     <div class="small-2 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-3 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdTo", Model.Profile.SearchAgeIdTo, Model.Ages, "Select..")</div>
  </div>  
   

    <h3>Marital status</h3>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 midium-block-grid-2">
        @Html.CheckBoxes(Model.Statuses, Model.Profile.SearchSmokeIdMask, "Status") 
        </ul>      
      </div>
    </div>
    
    <h3>Has Children</h3>
    <div class="row">
     <div class="small-2 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-3 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdFrom", Model.Profile.SearchChildrenIdFrom, Model.HasChildren, "Select...")</div>
 
     <div class="small-2 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-3 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdTo", Model.Profile.SearchChildrenIdTo, Model.HasChildren, "Select...")</div>
  </div>

  <h3>Religious background</h3>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 midium-block-grid-2">
        @Html.CheckBoxes(Model.Religions, Model.Profile.SearchReligionIdMask, "Education") 
        </ul>      
    </div>
  </div>

    <h3>Educational  background</h3>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 midium-block-grid-2">
        @Html.CheckBoxes(Model.EducationGrades, Model.Profile.SearchEducationGradeIdMask, "Education") 
        </ul>      
    </div>
  </div>

<h3>Occupation</h3>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-2  small-block-grid-1 midium-block-grid-1">
        @Html.CheckBoxes(Model.Occupations, Model.Profile.SearchOccupationIdMask, "Occupation") 
        </ul>      
    </div>
  </div>


 <h3>Income</h3>
  <div class="row">

     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdFrom, "From", new { @class = "inline right" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdFrom", Model.Profile.SearchIncomeIdFrom, Model.Incomes, "Select Age")</div>
 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdTo, "To",new { @class = "inline right" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdTo", Model.Profile.SearchIncomeIdTo, Model.Incomes, "Select Age")</div>
 </div> 
 



  <h3>Race</h3>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-2  small-block-grid-1 midium-block-grid-1">
        @Html.CheckBoxes(Model.Races, Model.Profile.SearchRaceIdMask, "Race") 
        </ul>      
    </div>
  </div>

 
  <h3> Physical Info</h3>
 <div> 

 <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdFrom",  Model.Profile.SearchHeightIdFrom, Model.Heights, "Select Height From")</div>
 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdTo", Model.Profile.SearchHeightIdTo, Model.Heights, "Select Height To")</div>
 </div>


  <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdFrom", Model.Profile.SearchWeightIdFrom, Model.Weights, "Select Weight From")</div>
 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdTo", Model.Profile.SearchWeightIdTo, Model.Weights, "Select Weight To")</div>
  </div>
</div>

  <h3>Disability</h3> 
 <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3">
        @Html.CheckBoxes(Model.Disabilities, Model.Profile.SearchDisabilityIdMask, "Disabilities")
        </ul>       
    </div>
</div>



 <h3>Smoking tendencies</h3>
    <div class="row">
     <div  class="small-12 columns">
        <ul class="large-block-grid-3">
              @Html.CheckBoxes(Model.Smokes, Model.Profile.SearchSmokeIdMask, "Smoke") 
        </ul>      
     </div>
  </div>

 
    
 
    </div>
  </div>
</div>
}
}

<script>
    $(document).ready(function () {
        /* Converts the h3s and divs into an accordion.
        active: false collapses all the panels initially.
        collapsible: true is necessary for active: false to work.
        heightStyle: "content" makes each panel as tall as its contents.
        */
        $('#settings_accordion').accordion(
    {
        collapsible: true,
        active: false,
        heightStyle: "content"
    }

  );

       
        $(".ad_container:gt(3)").hide();



        /* Attaches a handler function to the notifications checkbox that toggles the visibility of the notification sub-options. */
        $('input#cb_enable_notify').change(function () {
            $('div.sub_options').toggle();
        });

    });
</script>