﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
       @Styles.Render("~/Content/Foundation/customcss/mycustom.css")
}


@section MainContent{

@using (Html.BeginForm("Edit", "Profile"))
{



<div class="row">
<div class="large-8 small-centered  large-uncentered columns">


<fieldset  class="searchinfo">
<legend >Criteria.Age</legend>
    <div class="row"> 
      <div   class="medium-6 small-12 columns">
        <div class="row"> 
         <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdFrom, "From", new { @class = "inline right " })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Model.Profile.SearchAgeIdFrom", Model.Profile.SearchAgeIdFrom, Model.Ages, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns"> 
         <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdTo", Model.Profile.SearchAgeIdTo, Model.Ages, "Select..")</div>
       </div>
       </div>
  </div>  
</fieldset>  

 <fieldset  >
 <legend>Criteria.Status</legend>
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1  medium-block-grid-2">
        @Html.CheckBoxes(Model.Statuses, Model.Profile.SearchSmokeIdMask, "Status") 
        </ul>      
      </div>
    </div>
</fieldset>    
 


<fieldset  class="searchinfoGreen">
 <legend>Criteria.Children</legend>    
 
   <div class="row"> 
      <div   class="medium-6 small-12 columns">
        <div class="row"> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdFrom, "From", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdFrom", Model.Profile.SearchChildrenIdFrom, Model.HasChildren, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns"> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdTo", Model.Profile.SearchChildrenIdTo, Model.HasChildren, "Select...")</div>
       </div>
       </div>
  </div>  
  </fieldset>  

 

  


<fieldset class="searchinfo">
 <legend>Criteria.Race</legend> 
 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.FirstName)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.HeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-4 columns end">@Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select...")</div>
  </div>
     
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Races, Model.Profile.SearchRaceIdMask, "Race") 
        </ul>      
    </div>
   </div>
</fieldset> 



<fieldset >
 <legend>Criteria.Height</legend>  

 <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdFrom",  Model.Profile.SearchHeightIdFrom, Model.Heights, "Select Height From")</div>
    </div> 
   </div>
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdTo", Model.Profile.SearchHeightIdTo, Model.Heights, "Select Height To")</div>
      </div>
   </div>
 </div>
</fieldset>   


<fieldset class="searchinfoGreen">
 <legend>Criteria. Weight</legend>   
  <div class="row">
    <div   class="medium-6 small-12 columns">
      <div class="row"> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdFrom", Model.Profile.SearchWeightIdFrom, Model.Weights, "Select Weight From")</div>
      </div> 
   </div>
  <div   class="medium-6 small-12 columns">
     <div class="row"> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdTo", Model.Profile.SearchWeightIdTo, Model.Weights, "Select Weight To")</div>
    </div>
   </div>
  </div>
</fieldset>   


<fieldset  class="searchinfo">
 <legend>Criteria. Disability</legend>   
 <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Disabilities, Model.Profile.SearchDisabilityIdMask, "Disabilities")
        </ul>       
    </div>
</div>
</fieldset> 

<fieldset>
 <legend>Criteria.Religioun</legend>   
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Religions, Model.Profile.SearchReligionIdMask, "Religion") 
        </ul>      
    </div>
  </div>
</fieldset>     



<fieldset  class="searchinfoGreen">
 <legend>Criteria.Education</legend>   
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.EducationGrades, Model.Profile.SearchEducationGradeIdMask, "Education") 
        </ul>      
    </div>
  </div>
</fieldset>   


<fieldset class="searchinfo">
 <legend>Criteria.Occupation</legend>   
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Occupations, Model.Profile.SearchOccupationIdMask, "Occupation") 
        </ul>      
    </div>
  </div>
</fieldset>   


<fieldset >
 <legend>Criteria.Income</legend>   
  <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdFrom, "From", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdFrom", Model.Profile.SearchIncomeIdFrom, Model.Incomes, "Select...")</div>
       </div> 
      </div>
  <div   class="medium-6 small-12 columns">
    <div class="row"> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdTo, "To", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdTo", Model.Profile.SearchIncomeIdTo, Model.Incomes, "Select...")</div>
  </div> 
      </div>
 </div> 
</fieldset> 


<div class="row">    
     <div class="small-12 small-centered columns text-center"><a href="#" onclick="document.forms[0].submit();" class="small  radius button">Save</a>  <a href="#" class="small secondary radius button">Return</a></div>
 </div>
  
 
    </div>
  </div>

}


<script>
    $(document).ready(function () {
        /* Converts the h3s and divs into an accordion.
        active: false collapses all the panels initially.
        collapsible: true is necessary for active: false to work.
        heightStyle: "content" makes each panel as tall as its contents.
        */
        $('#settings_accordion').accordion(
    {
        collapsible: true,
        active: false,
        heightStyle: "content"
    }

  );

       
        //$(".ad_container:gt(3)").hide();



        /* Attaches a handler function to the notifications checkbox that toggles the visibility of the notification sub-options. */
        $('input#cb_enable_notify').change(function () {
            $('div.sub_options').toggle();
        });

    });
</script>
}