﻿@{
    ViewBag.Title = "Criteria";
}

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
@Styles.Render("~/Content/Foundation/customcss/mycustom.css")
}

@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<div class="row">
<div class="column">&nbsp;</div> 
 <div class="columns text-center alert-box alert round">
    <h4 style="color:white;"><b>We can't fill in Criteria chart</b></h4>
   You have to fill in your  @Html.ActionLink("Profile", "ProfileInfo", "Profile", null, new { @class = "error-link" }). 
</div></div>
</div></div>
}