﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel



 <div style="overflow:auto;   margin-top:-430px;  margin-left:16px; margin-right:16px;"   >

   <table class="tblProfileImageGallery" >
     <tr>
      @if (Model.Profile.ProfileImages == null)
      {
          <td class="tdImageFromSet"><img  class="imageGalleryItem noImage"  src="~/Content/Images/no-image.jpg" alt = "image" /> </td> 
      }
      else
      {
      foreach (ProfileImage pp in Model.Profile.ProfileImages.OrderBy(k => k.ImageOrderId))
      { 
                 
      <td class="tdImageFromSet">  
      <input type="hidden" name="fileId"  class ="hiddenInput" value="@pp.Id"/>
      <input type="hidden" name="mainImage"  class ="inputIsMainImage hiddenInput" value="0"/>
      <input type="file" name="file"   class ="hiddenInput" />                
       <img  class="imageGalleryItem"  src="@Url.Action("GetProfileImage", "Profile", new { imageId = pp.Id })" alt = "image" /> 
        <div class="divImageMenu" >
            <span title=" make image fist " class="makeFirstImage"><i class="step fi-previous size-big"></i></span>
            <span title=" move image left " class="moveLeft"><i class="step fi-rewind size-big"></i></span>
            <span title=" make image main " class="makeMainImage @(Model.Profile.MainProfileImageId == pp.Id ? "setMainImage" : "")"><i class="step fi-record size-big"></i></span>
            <span title=" remove image" class="removeImage"><i class="step fi-x size-big"></i></span>
            <span title=" move image right " class="moveRight"><i class="step fi-fast-forward size-big"></i></span>
            <span title=" make  image last " class="makeLastImage"><i class="step fi-next size-big"></i></span>  
        </div>
      </td>
      } 
      }
    </tr>
   </table>
  </div>
 