﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@{
    ViewBag.Title = "Serch Result";
}

@section Scripts{
@Styles.Render("~/Content/Foundation/customcss/mycustom.css")
}

@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<fieldset class="searchinfoGray ">
<legend>Search Result</legend>
 <div class="row">
  <div  class="small-12 columns ">

   <ul class="large-block-grid-3  small-block-grid-1  medium-block-grid-3"> 
   @foreach (Profile p in Model.Profiles)
   {  
       <li>
       <div class="search-result-list-item">
          <a href="@Url.Action("Details", "Profile", new { id = p.Id }, null)">

            @if(p.MainProfileImageId == 0)
            {
            <div class="resize-image" style="background: url('../Content/Images/no-image.jpg')"></div>
            }
            else
            {
            <div class="resize-image" style="background: url('@Url.Action("GetProfileImage", "Profile", new { imageId = p.MainProfileImageId })')"></div>
                
            }
                 </a>
         
           <a href="@Url.Action("Details", "Profile", new { id = p.Id }, null)"
                 class="tiny  radius button-infolist addpicture button">@p.FirstName, @p.AgeFromDateBirth</a>
         
          
          
        </div>
       </li>
            
   } 
          
 </ul>      
  </div>
 </div>

    </fieldset>
 </div>
 </div>
 


<script  type="text/javascript">
    $(document).ready(function () {


        $(".ad_container:gt(3)").hide();


    });
</script>
 }