﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ProfileAndSearchView


@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@{
    ViewBag.Title = "Search Form";
}

@section JQueryContentExtra{


<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
  article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }

body, .ui-accordion {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.9rem;
}

div#settings-accordion-search {
  max-width: 700px;
}

div.sub_options {
  padding-left: 2.5rem;
  display: none;
}
</style>

}


@section MainContent{

@using (Html.BeginForm("SearchSearch", "Profile"))
{
    @Html.AntiForgeryToken()
<div class="row">
<div class="large-8 small-centered  large-uncentered columns"> 

 <fieldset  class="searchinfoPink">
<legend >Search Form</legend>

<div class="row row collapse">
 
       <div class="medium-3 columns end" >Apply for search</div>   
         <div class="medium-3 columns">                 
         
                   <div>
                         <input type="checkbox" id="switchNumeralogy" name="useNumerology"  checked="checked" class="switch" />
                         <label for="switchNumeralogy">Numerology </label>
                  </div>
          </div>
           <div class="medium-3 columns end">
                   <div>
                        <input type="checkbox" id="switchZodiac" name="useZodiac"  checked="checked" class="switch"/>
                        <label for="switchZodiac">Zodiac </label>
                   </div>
          </div>
      </div> 
     
     
   <div class="row">  
            <div class="columns hide-for-small">&nbsp; </div>
   </div>

 <div class="row">  
  <div class="columns"> 

<div id="settings-accordion-search" >

  <h3>Your criteria for search</h3>
  <div class="wrapper">

  <div class="row wrapperHeader hide-for-small"> 
     <div class="medium-4  columns medium-text-right ">I' m</div>
     <div class="medium-4   medium-text-center columns">Criteria</div>
     <div class="medium-4 columns medium-text-left">Looking for</div>
  </div> 

  

  <div class="row">
         <div class="medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div> 
        <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Age</div>
        <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
        
  </div>
    <div class="row">
     <div class="medium-4 small-11 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.AgeFromDateBirth</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Model.Profile.SearchAgeFrom.Name - @Model.Profile.SearchAgeTo.Name</span></div>
  </div> 


  
  <div class="row">
     <div class="medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Gender</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>     
  <div class="row">
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.GenderValue</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Model.Profile.LookingForValue</span></div>
  </div> 
  
   

  <div class="row">
      <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Marital status</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.Status.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Html.AttributeText(Model.SearchStatuses)</span></div>
  </div>  



  <div class="row"> 
  <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Children</div>
  <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.Children.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2"> @Model.Profile.SearchChildrenFrom.Name - @Model.Profile.SearchChildrenTo.Name</span></div>
  </div>  


  <div class="row"> 
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
    <div class="s medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Weight</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.Weight.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Model.Profile.SearchWeightFrom.Name - @Model.Profile.SearchWeightTo.Name</span></div>
  </div> 



  <div class="row"> 
      <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class="medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Height</div>
    <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.Height.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2"> @Model.Profile.SearchHeightFrom.Name - @Model.Profile.SearchHeightTo.Name</span></div>
  </div> 


  <div class="row"> 
      <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Race</div>
      <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable" ><span class="span-row1">@Model.Profile.Race.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Html.AttributeText(Model.SearchRaces)</span></div>
  </div> 


  <div class="row"> 
      <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Smoke</div>
      <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable" ><span class="span-row1">@Model.Profile.Smoke.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Html.AttributeText(Model.SearchSmokes)</span></div>
  </div> 


  <div class="row"> 
      <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Disability</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable" ><span class="span-row1">@Model.Profile.Disability.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Html.AttributeText(Model.SearchDisabilities)</span></div>
  </div> 


  <div class="row"> 
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Education</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.EducationGrade.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Html.AttributeText(Model.SearchEducationGrades)</span></div>
  </div> 
  

  <div class="row"> 
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Occupation</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>   
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.Occupation.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Html.AttributeText(Model.SearchOccupations)</span></div>
  </div> 


  <div class="row"> 
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Income</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>    
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.Income.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Model.Profile.SearchIncomeFrom.Name - @Model.Profile.SearchIncomeTo.Name</span></div>
  </div> 



   <div class="row">
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div> 
     <div class=" medium-4 columns medium-text-center  small-text-left wrapperCenterTable1">Religion</div>
     <div class=" medium-4   hide-for-small wrapperCenterTable  columns">&nbsp;</div>   
  </div>
  <div class="row">  
     <div class="medium-4 columns small-text-left medium-text-right wrapperTable"><span class="span-row1">@Model.Profile.Religion.Name</span></div>
     <div class="columns medium-4  medium-offset-4 small-text-left wrapperTable"><span class="span-row2">@Html.AttributeText(Model.SearchReligions)</span></div>
  </div> 

</div>
</div>
</div>
</div>

</fieldset>  


 <div class="row">    
     <div class="small-12 small-centered columns text-center">
           <label for="btn1" class="small success radius button">Search</label>  
           <a href="#" class="small secondary radius button">Return</a>
     </div>
 </div>
  
    </div>
  </div>
@Html.Hidden("id", new { id = Model.Profile.Id })
<input type="submit" id="btn1"value="" class="btn-to-hide"/>
}


<script  type="text/javascript">
    $(document).ready(function () {


        $('#settings-accordion-search').accordion(
    {
        collapsible: true,
        active: 0,
        heightStyle: "content"
    });

    






        $(".ad_container:gt(5)").hide();



        /* Attaches a handler function to the notifications checkbox that toggles the visibility of the notification sub-options. */
        $('input#cb_enable_notify').change(function () {
            $('div.sub_options').toggle();
        });

    });
</script>
}
