﻿@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>


<div id="MatchDivv" class="ui-widget-content"><h4>Test draging</h4>
 </div>  
 <script type="text/javascript">
 
$(document).ready(function () {
  $(function () {
         $("#MatchDivv").draggable();
     });
});
</script>  
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
